/* Add your own styles */

header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(22, 68, 99);
    color: white;
    font-family: 'Funky choky', cursive;
}

#controls {
    margin-top: 50px;
    margin-left: 25%;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 50%;
    line-height: 50%;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button {
    font-size: large;
    background-color: rgb(4, 131, 104);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button:hover {
    background: rgb(9, 219, 173);
}